@font-face {
  font-family: "latoitalic";
  src: url("../font/lato-italic-webfont.eot");
  src: url("../font/lato-italic-webfont.eot?#iefix") format("embedded-opentype"),
    url("../font/lato-italic-webfont.woff2") format("woff2"),
    url("..font/lato-italic-webfont.woff") format("woff"),
    url("../font/lato-italic-webfont.ttf") format("truetype"),
    url("../font/lato-italic-webfont.svg#latoitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "latoregular";
  src: url("../font/lato-regular-webfont.eot");
  src: url("../font/lato-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../font/lato-regular-webfont.woff2") format("woff2"),
    url("../font/lato-regular-webfont.woff") format("woff"),
    url("../font/lato-regular-webfont.ttf") format("truetype"),
    url("../font/lato-regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
