* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  width: 940px;
  margin: 0 auto;
  font-family: "Asap", sans-serif;
  padding-top: 120px;
}
h1 {
  text-align: center;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 20px;
}
h1 span {
  font-weight: bold;
  color: #2ec06c;
}
h3 {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #666666;
  margin-bottom: 40px;
}
input {
  margin-bottom: 20px;
}
input,
textarea {
  display: block;
  width: 100%;
  background: #ffffff;
  border: 1px solid #bababa;
  border-radius: 5px;
  font-family: "Asap", sans-serif;
  font-size: 16px;
  line-height: 30px;
  padding: 10px 15px;
  outline: 0;
  color: #666;
}
input:focus,
textarea:focus {
  border-color: #2ec06c;
}
textarea {
  resize: none;
}
::placeholder {
  font-style: italic;
  color: #666;
}
.message {
  display: flex;
  height: 160px;
}
.message {
  flex-grow: 1;
  border-right: 0;
  border-radius: 5px 0 0 5px;
}
button {
  background: #2ec06c;
  border-radius: 0px 5px 5px 0px;
  border: 0;
  padding: 0 12px;
  cursor: pointer;
}
button:hover {
  background: #277a4a;
}
.social_links a {
  display: block;
  border-radius: 5px;
  border-style: solid;
  height: 140px;
  border-width: 1px;
  margin-bottom: 23px;
  transition: all 0.3s;
}
.social_links a.facebook {
  border-color: #3b5998;
  background: #fff url("../img/facebook.png") center center no-repeat;
}
.social_links a.facebook:hover {
  background-color: #3b5998;
  background-image: url("../img/facebook_white.png");
}
.social_links a.twitter {
  border-color: #00aced;
  background: #fff url("../img/twitter.png") center center no-repeat;
}
.social_links a.twitter:hover {
  background-color: #00aced;
  background-image: url("../img/twitter_white.png");
}
.social_links a.instagram {
  border-color: #517fa4;
  background: #fff url("../img/instagram.png") center center no-repeat;
}
.social_links a.instagram:hover {
  background-color: #517fa4;
  background-image: url("../img/instagram_white.png");
}
.social_links a.dribble {
  border-color: #ff0084;
  background: #fff url("../img/dribble.png") center center no-repeat;
}
.social_links a.dribble:hover {
  background-color: #ff0084;
  background-image: url("../img/dribble_white.png");
}
